.settings/
bin/
assets/
stat-dump/
textures/
/.project
/.classpath
out.stat
/textures
/simple.stat
/stat
/stat-dump
/AllExperimentRunner.cmd
/Culprits.stat
/experiment-one-by-one.params
/experiment.params
/GLAllInvoker.cmd
/GLOneByOneInvoker.cmd
/OneByOneExperimentRunner.cmd
/std-output.txt
/test/
*.log
*.stat